@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");

body {
  margin: 0;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 1100px) {
  /* REMOVE BACKGROUND FROM MOBILE */
}

button {
  cursor: pointer;
}

/* HEADER */

.header {
  height: 10vh;
  width: 100vw;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
  background: #e8e8e8;
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  z-index: 10;
}

.waldo-title {
  width: 20%;
  min-width: 110px;
}

.waldo-title > h1 {
  margin: 1rem;
  font-family: "Londrina Solid", cursive;
  font-weight: 400;
  font-size: 2rem;
}

.waldo-title > h1 > span:nth-child(1) {
  color: #2197b5;
}
.waldo-title > h1 > span:nth-child(2) {
  color: #eb2f2e;
}

.game-stats-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.characters-remaining-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.remaining {
  font-family: "Londrina Solid", cursive;
  font-size: 1.2rem;
}

.characters-remaining-container > div > img {
  height: 3rem;
  width: 3rem;
}

.characters-remaining-container > div {
  padding: 1rem;
}

.timer-container {
  padding: 1rem;
  font-family: "Londrina Solid", cursive;
  font-size: 1.5rem;
  min-width: 100px;
}

.github-link {
  width: 10%;
  align-self: center;
  position: absolute;
  right: -5%;
  padding-right: 2rem;
}

/* LEVEL CHOICE MODAL */

.content-container {
  margin-top: 15vh;
  font-family: "Londrina Solid", cursive;
  font-weight: 400;
}
.content-container > h2 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 0.1rem;
}

.level-choice-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.level-choice-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 35%;
  border: 3px solid rgb(66, 66, 66);
  border-radius: 10px;
  padding: 2rem;
  background-color: gray;
  margin: 2rem;
  box-shadow: 15px 15px 50px #000, -15px -15px 50px #fff;
}

.level-choice-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
  height: 90%;
  /* box-shadow: 10px 10px 25px #000, -10px -10px 25px #cdcdcd; */
}

.level-title {
  color: white;
  font-size: 5rem;
  position: absolute;
  text-shadow: black 4px 4px 4px;
  top: 50%;
  /* font-weight: 600; */
  left: 50%;
  text-align: center;
  z-index: 2;
  transform: translate(-50%, -50%);
  font-family: "Train One", cursive;
}

.level-image {
  height: 50%;
  width: 100%;
  filter: brightness(70%);
  opacity: 0.85;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* transition: filter 1s;
  transition: opacity 1s; */
}

.level-rules {
  width: 100%;
  text-align: center;
  border: rgb(66, 66, 66) 2px solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: rgb(66, 66, 66);
  color: white;
  text-shadow: 2px 2px 2px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level-rules > h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.level-rules > p {
  margin: 1rem;
  text-align: justify;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

.character-name {
  font-size: 1.5rem;
  /* text-shadow: 1px 1px 1px #000; */
}

.difficulty {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #000;
}

.list-of-characters-to-find {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  width: 90%;
  align-items: stretch;
  overflow: hidden;
  padding-bottom: 1rem;
  background: rgb(66, 66, 66);
}

.list-of-characters-to-find > div > div {
  width: 30%;
}

.list-of-characters-to-find > div > div > img {
  height: 3rem;
  width: 3rem;
}

.character-to-find {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 0.5rem;
  background: #808080;
  margin: 0.25rem;
}

.button-container {
  width: 100%;
  height: 30%;
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.button-container > button {
  width: 50%;
  height: 2rem;
  color: white;
  background: rgb(66, 66, 66);
  border: none;
  border-top: 1px solid gray;
  font-family: "Londrina Solid", cursive;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-shadow: black 2px 2px 2px;
}

.button-container > button:nth-child(1) {
  border-bottom-left-radius: 10px;
  border-right: 1px solid gray;
}

.button-container > button:nth-child(2) {
  border-bottom-right-radius: 10px;
  border-left: 1px solid gray;
}

/* Level One */
.level-one-container {
  margin-top: 10vh;
}

/* Popup */

.popup {
  height: fit-content;
  width: fit-content;
  z-index: 3;
  background: rgba(185, 185, 185, 0.95);
  position: absolute;
  border: rgba(66, 66, 66, 0.95) 1px solid;
  border-radius: 0px 20px 20px 20px;
}

.popup > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.popup > ul > li:not(li:last-child) {
  border-bottom: 1px solid rgb(66, 66, 66);
}
.popup > ul > li {
  padding: 0.25rem 1rem 0.25rem 1rem;
  text-align: center;
  font-family: "Londrina Solid", cursive;
}

.popup > ul > li:hover {
  background: rgba(214, 214, 214, 0.95);
}

/* COMPLETE */

.level-complete {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 35%;
  border: 3px solid rgb(66, 66, 66);
  border-radius: 10px;
  padding: 2rem;
  background-color: gray;
  margin: 2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-54%, 50%);
  font-family: "Londrina Solid", cursive;
  font-weight: 200;
}
.level-complete > div {
  text-align: center;
  width: 100%;
}

.completed-time {
  color: green;
  text-shadow: 2px 2px 2px black;
}

.level-complete > div > div > h3 {
  letter-spacing: 0.1rem;
  font-size: 2.2rem;
}
.level-complete-button-container {
  width: 100%;
}

.level-complete-button-container > button {
  width: 50%;
  height: 2rem;
  color: white;
  background: rgb(66, 66, 66);
  border: none;
  border-top: 1px solid gray;
  font-family: "Londrina Solid", cursive;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-shadow: black 2px 2px 2px;
}

.level-complete-button-container > button:nth-child(1) {
  border-bottom-left-radius: 10px;
  border-right: 1px solid gray;
}

.level-complete-button-container > button:nth-child(2) {
  border-bottom-right-radius: 10px;
  border-left: 1px solid gray;
}
form {
  width: 100%;
}

form > label {
  font-size: 1.5rem;
}

form > input {
  width: 70%;
  height: 2rem;
  padding: 0;
  border: none;
  border-top-left-radius: 10px;
}

form > button {
  width: 30%;
  height: 2rem;
  padding: 0;
  color: white;
  background: rgb(66, 66, 66);
  border: none;
  font-family: "Londrina Solid", cursive;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-shadow: black 2px 2px 2px;
  border-top-right-radius: 10px;
  border-left: 1px solid gray;
}

/* LEADERBOARD */
.leaderboard-container {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 90%;
  border: 3px solid rgb(66, 66, 66);
  border-radius: 10px;
  padding: 2rem;
  background-color: gray;
  margin: 2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-52.5%, 20%);
  font-family: "Londrina Solid", cursive;
  font-weight: 200;
}

.leaderboard-container > h3 {
  font-size: 3rem;
  color: white;
  text-shadow: 3px 3px 3px black;
  letter-spacing: 0.15rem;
}

.leaderboard-level-one {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.leaderboard-column {
  text-align: right;
  background: rgb(66, 66, 66);
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  box-shadow: 10px 10px 40px #000, -10px -10px 40px #ffffff;
}

.leaderboard-column > h4 {
  font-family: "Train One", cursive;
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
}

.leaderboard-time {
  color: lightgreen;
}

.leaderboard-entry {
  padding: 1rem;
  font-size: 1.3rem;
}

.leaderboard-entry:nth-child(2)::before {
  content: "🥇";
  color: gold !important;
  float: left;
  /* padding: 1rem; */
}
.leaderboard-entry:nth-child(3)::before {
  content: "🥈";
  color: silver !important;
  float: left;
  /* padding: 1rem; */
}
.leaderboard-entry:nth-child(4)::before {
  content: "🥉";
  color: #cd7f32 !important;
  float: left;
  /* padding: 1rem; */
}

.home-button-container {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.home-button {
  font-family: "Londrina Solid", cursive;
  height: 2rem;
  width: 50%;
  color: white;
  background: rgb(66, 66, 66);
  border: none;
  border-top: 1px solid gray;
  font-family: "Londrina Solid", cursive;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-shadow: black 2px 2px 2px;
  border-radius: 10px;
}

@media only screen and (max-width: 1100px) {
  /* MAKE 100% WIDTH FOR MOBILE */
}

.notification-container {
  height: 15vh;
  width: 30%;
  background: rgb(66, 66, 66);
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  border: black 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  box-shadow: 3px 3px 50px 25px rgba(0, 0, 0, 0.5),
    -3px -3px 50px 25px rgba(0, 0, 0, 0.5);
  animation: fade-in 0.25s 1 ease-in;
}

.notification-container > h4 {
  font-family: "Londrina Solid", cursive;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  margin: 0;
}

.notification-container > p {
  position: absolute;
  top: 0;
  right: 2%;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
  margin: 0;
  font-family: "Londrina Solid", cursive;
}
.notification-container > p:hover {
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    /* transform: translateY(0rem); */
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    /* transform: translateY(-10rem); */
    opacity: 1;
    filter: blur(0px);
  }
}

@media only screen and (max-width: 1100px) {
  .header {
    height: 7vh;
  }
  .content-container {
    margin-top: 7vh;
  }
  .level-complete {
    margin-top: 7vh;
  }
  .leaderboard-container {
    margin-top: 7vh;
  }
  .level-one-container {
    margin-top: 7vh;
  }
}

@media only screen and (max-width: 1300px) {
  .waldo-title > h1 {
    font-size: 1.5rem;
  }
  .github-link {
    transform: scale(0.8);
  }

  .characters-remaining-container {
    padding: 1rem;
  }

  .remaining {
    font-size: 1rem;
  }

  .characters-remaining-container > div > img {
    height: 2rem;
    width: 2rem;
  }

  .characters-remaining-container > div {
    padding: 0.5rem;
  }

  .timer-container {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .waldo-title > h1 {
    font-size: 1rem;
  }
  .github-link {
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 810px) {
  .waldo-title > h1 {
    font-size: 0.75rem;
  }

  .characters-remaining-container {
    padding: 0.5rem;
  }

  .remaining {
    font-size: 0.25rem;
  }

  .characters-remaining-container > div > img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .characters-remaining-container > div {
    padding: 0.25rem;
  }

  .timer-container {
    padding: 0.25rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .level-title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 550px) {
  .level-rules > p {
    font-size: 0.75rem;
  }

  .character-name {
    font-size: 1rem;
  }

  .difficulty {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .button-container > button {
    font-size: 0.75rem;
  }
  .level-complete-button-container > button {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 1100px) {
  .level-choice-modal {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .level-complete {
    width: 70%;
  }
  .leaderboard-column {
    width: 40%;
  }
  .notification-container {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .leaderboard-column {
    width: 60%;
  }
  .notification-container {
    width: 60%;
  }
}

@media (max-width: 850px) {
  .leaderboard-column {
    width: 80%;
  }
  .notification-container {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .leaderboard-column {
    width: 95%;
  }
  .notification-container {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .level-complete {
    width: 90%;
  }

  .level-complete > div > div > h3 {
    font-size: 1.5rem;
  }
}

/* @media (max-width: 1600px) {
  .header {
    position: absolute;
  }
} */

/* MEDIA QUERIES FOR MOBILE ZOOM */

/* @media (min-width: 1500px) {
  .game-stats-container {
    transform: scale(1.5);
  }
  .waldo-title > h1 {
    font-size: 2.5rem;
  }
  .github-link {
    transform: scale(1.5);
  }
}

@media (min-width: 2000px) {
  .game-stats-container {
    transform: scale(2);
  }
  .waldo-title > h1 {
    font-size: 3rem;
  }
  .github-link {
    transform: scale(2);
  }
}



@media (min-width: 2500px) {
  .game-stats-container {
    transform: scale(2.5);
  }
  .waldo-title > h1 {
    font-size: 4.5rem;
  }
  .github-link {
    transform: scale(2.5);
  }
} */
